---
---

@import 'jekyll-theme-cayman';
@import "{{ site.theme }}";
.page-header {
  color: #ffff;
  background-color: #B067AB;
  background-image: linear-gradient(120deg, #811644, #f38021);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 672px) {
  .column {
    width: 100%;
  }
}
